*.o
*.d
*.gen
*CG_*
*CVS*
m.txt
mc.txt
*.pyc
*~
*.swo
bin
*.swp
*.bak
*.log
*/extensions/*/module.mk
models/*/module.mk
models/*/*/module.mk
models/*/copyModules
models/*/Extensions.mk
gsl/*/module.mk
gsl/*/*/*/module.mk
gsl/*/*/*.mk
lex.yy.C
lex.yy.cc
speclang.tab.C
speclang.tab.h
mdl.output
mdl.tab.c
mdl.tab.h
gsl/*/*/copyModules
*.output
*.a
out.txt
tags
tmhoangt@*
*.zip
core
*.sig
*.std
*.ASC
*.DAT
LensRootConfig.h
.ropeproject
gsl/extensions/interface/*
models/**/*.h
models/**/*.C
gsl/extensions/struct/*
*.swn
graphs/**/runs/**
graphs/**/L5bPCmodelsEH/**
graphs/**/*.out
graphs/**/out*/**
graphs/**/*backup*/**
graphs/**/*ongoing*/**
graphs/**/*test*/**
.built
