*.o
*.d
*.gen
*CG_*
*CVS*
m.txt
mc.txt
*.pyc
*~
*.swc
*.swo
bin
*.swp
*.bak
*.log
**/copyModules
**/*.mk
lex.yy.C
lex.yy.cc
speclang.tab.C
speclang.tab.h
mdl.output
mdl.tab.c
mdl.tab.h
*.output
*.a
out.txt
tags
tmhoangt@*
*.zip
core
*.sig
*.std
*.ASC
*.DAT
*.dat
LensRootConfig.h
.ropeproject
gsl/extensions/interface/*
models/**/*.h
models/**/*.C
gsl/extensions/struct/*
*.swn
graphs/**/runs/**
graphs/**/L5bPCmodelsEH/**
graphs/**/*.out
graphs/**/out*/**
graphs/**/*backup*/**
graphs/**/*ongoing*/**
graphs/**/*test*/**
graphs/**/data/**
graphs/**/.tmp
graphs/**/tmp
graphs/**/stats
.built
nti/include/Model2Use.h
nti/include/Model2Use.gch
models/copyModules
models/Extensions.mk
gsl/Makefile
gsl/Extensions.mk
*.directory
gsl/extensions/functor/all.mdf
models/all.mdf
*.png
.*/
.*
!.gitignore
